{% extends 'base.html' %}
{% load static %}

{% block head_name %} | Vehicle List {% endblock head_name %}


{% block cont_ex %}<br/>

<div class="container-fluid">
	<div class="row">
		<div class="col-10 pl-5">
			<div class="h1">Vehicle list</div><br/>
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">ID</th>
			      <th scope="col">Owner Name</th>
			      <th scope="col">Reg. Number</th>
			      <th scope="col">Brand</th>
			      <th scope="col">Model</th>
			      <th scope="col">Vehicle Type</th>
			      <th scope="col">Created on</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for v in vehicles %}
				    <tr>
				      <th scope="row">{{v.index}}</th>
				      <td>{{v.id}}</td>
				      <td>{{v.user.first_name}} {{v.user.last_name}}</td>
				      <td>{{v.reg_number}}</td>
				      <td>{{v.brand}}</td>
				      <td>{{v.model}}</td>
				      <td>{{v.vtype}}</td>
				      <td>{{v.created_on}}</td>
				    </tr>
			    {% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
</div>

{% endblock cont_ex %}
</div>





