{% load static %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

  <a class="navbar-brand" href="/">ROCKY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.get_full_path == '/' %}active{% endif %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item {% if '/accounts/list' in request.get_full_path %} active {% endif %}">
        <a class="nav-link" href="/accounts/list">Accounts</a>
      </li>

      <li class="nav-item {% if '/vehicles/list' in request.get_full_path %} active {% endif %}">
        <a class="nav-link" href="/vehicles/list">Vehicle List</a>
      </li>

      <li class="nav-item {% if 'tollgate/list' in request.get_full_path %} active {% endif %}">
        <a class="nav-link" href="/tollgate/list">TollGates</a>
      </li>

      <li class="nav-item {% if 'tollgate/log' in request.get_full_path %} active {% endif %}">
        <a class="nav-link" href="/tollgate/log">TollGate Log</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quick links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% static "ini_rep.pdf" %}">Project report</a>
          <a class="dropdown-item" href="/why-rocky">Why ROCKY ?</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/project-videos">Project videos</a>
        </div>
      </li>

      <li class="nav-item {% if 'contact' in request.get_full_path %} active {% endif %}">
        <a class="nav-link" href="/contact">Contact us</a>
      </li>



      <li class="nav-item">
        <a class="nav-link" href="/admin" tabindex="-1" aria-disabled="true">Admin Login</a>
      </li>

      <li class="nav-item {% if 'sugar-camp' in request.get_full_path %} active {% endif %}">
        <a class="nav-link" href="/sugar-camp" tabindex="-1" aria-disabled="true">Sugar Camp</a>
      </li>

    </ul>
    
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form> -->

{% if not 'register' in request.get_full_path %}

    <div class="pl-5">
      {% if not user.is_authenticated %}
          
          <!-- Example split danger button -->
            <!-- Example split danger button -->
    <!-- Example single danger button -->
<div class=" pr-3">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#LoginModal">
    Login
  </button>




<!-- Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LOGIN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="">
          <form method="POST" action="/login/" id="loginForm" class="px-4 py-3">{% csrf_token %}
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Username</label>
              <input type="text" name="username" class="form-control" id="exampleDropdownFormEmail1" placeholder="srm123">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                  Remember me
                </label>
              </div>
            </div>
            <button onclick="loginFunc()" type="submit" class="btn btn-primary">Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/register">New around here? Sign up</a>
          <a class="dropdown-item" href="#">Forgot password?</a>
        </div>
      </div>
      <div class="modal-footer">
        <button id="close_model_btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>  

      {% else %}
          <!-- <div style="color: white">{{user.first_name}} {{user.last_name}}</div> -->
      <div >

           <div class="dropdown" >
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.first_name}}  {{user.last_name}}
            </button>
            <div style="right: 0; left: auto; " class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <a class="dropdown-item" id="edit_profile_btn" href="#">Edit profile</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item" id="my_vehicles_btn" href="/accounts/my-vehicles">My vehicles</a>
              <a class="dropdown-item" id="add_vehicle_btn" href="/accounts/add-vehicle">Add Vehicle</a>
              <a class="dropdown-item" id="edit_profile_btn" href="/tollgate/my-log">My Tollgate log</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item" id="edit_profile_btn" href="/accounts/wallet/">My Wallet</a>
              <a class="dropdown-item" id="edit_profile_btn" href="/accounts/wallet/add-money">Add Money</a>
              <a class="dropdown-item" id="billing_btn" href="/billing">Transactions/Billing</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </div>

      </div>
  
      {% endif %}

    </div>
    {% endif %}
  </div>
</nav>

{% if not user.is_authenticated and 'register' not in request.get_full_path %}
<div class="pt-2 pl-5 pr-5">
<div class="alert alert-info" role="alert">
    <span><button id="goto_register_btn" type="button" class="btn btn-outline-dark" id="send_otp_btn">Register</button></span> 
    &ensp; or <span style="cursor: pointer;" data-toggle="modal" data-target="#LoginModal" ><u>Login</u></span> now to enjoy the services of team ROCKY!
</div>
</div>{% endif %}

<div class="pt-2 pl-5 pr-5">
<div class="alert alert-success" id="otp_verification_successful" role="alert">
  OTP verification succesfull. Thank you.
</div>
</div>

{% if user.is_authenticated and not user.userprofile.is_verified %}

<div class="pt-2 pl-5 pr-5" id="verify_warning">
<div class="alert alert-warning" role="alert">
  Your contact number (+91 {{user.userprofile.contact_number}}) is not verified, please do so to avoid inactivation.

  <span><button type="button" class="btn btn-warning" id="send_otp_btn" data-toggle="modal" data-target="#OTPModal">Send OTP</button></span>


<!-- Modal -->
<div class="modal fade" id="OTPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        An OTP has been sent to {{user.userprofile.contact_number}}. Please enter it below to verify.
              <div class="otp_field pt-2">
                <input type="text" name="otp" id="otp_field" class="form-control" id="exampleDropdownFormEmail1" placeholder="OTP here">
              </div>
      </div>
      <div class="modal-footer">
        <button id="resend_otp_btn" type="button" class="btn btn-secondary">Resend OTP</button>
        <button id="close_model_btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="submit_otp_btn" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>



</div>
</div>

<input hidden id="username" type="text" name="username" value="{{user.username}}">

{% endif %}



<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>



<script type="text/javascript">

window.CSRF_TOKEN = "{{ csrf_token }}";
$("#otp_verification_successful").hide();
function loginFunc() {
  console.log("Submititng form ")
  document.getElementById("loginForm").submit();
}

  var username = $("#username").val();
  console.log(username);


function send_otp(username){
      data = {
        "username": username,
        csrfmiddlewaretoken: window.CSRF_TOKEN
      }
      $.ajax({ 
          type: "post", 
          url: "/accounts/api/send-otp/",
          enctype: "multipart/form-data",
          data: data,
          success: function(e) {
            console.log('SUCCESS', e.responseText);
          },
          error: function(e) {
            console.log('FAILED', e.responseText);
          } 
        });
}

$(function(){
    console.log("YELP")

    $("#otp_verification_successful").hide();

    $("#send_otp_btn").click(function(){
      console.log("sending otp");
      username = username;
      send_otp(username);
    })

    $("#submit_otp_btn").click(function(){
      $("#submit_otp_btn").addClass('disabled');
      console.log("verifying otp");
      console.log( $('#otp_field').val())
      data = {
                "username": username,
                "otp": $('#otp_field').val(),
                csrfmiddlewaretoken: window.CSRF_TOKEN
            }
      $.ajax({ 
          type: "post", 
          url: "/accounts/api/verify/",
          enctype: "multipart/form-data",
          data: data,
          success: function(e) {
            console.log('SUCCESS', e.responseText);
            $("#otp_verification_successful").show();
            $("#close_model_btn").click();
            $("#verify_warning").hide();
          },
          error: function(e) {
            console.log('FAILED', e.responseText);
          } 
        });
    })


    $("#resend_otp_btn").click(function(){
      $("#resend_otp_btn").text("SENT");
       $("#resend_otp_btn").addClass("disabled");
      username = username;
      send_otp(username);
    })

    $("#edit_profile_btn").click(function(e){
      alert("Kindly contact site admin to edit your profile data.  Call +918919937557 or send an email to sreerammaram2@gmail.com")
    })

    $("#goto_register_btn").click(function(){
      window.location = '/register';
    })
})

</script>






