
{% extends 'base.html' %}
{% load static %}

{% block head_name %} | Contact us {% endblock head_name %}


{% block cont_ex %}<br/>

<div class='centre-text p-'>


<div class="container-fluid">
	<div class="row">
		<div class="col-6 vertical_line pl-5 pt-3">
			<div class="h2 apple_font pb-0">Karre Sumith Sugar Donation Camp</div><div class="pl-3 pr-3"><hr/></div><br/><br/>
			

		</div>

		<div class="col-6 pl-5 pt-3">
			<div class=" pl-3 apple_font ">
				<div class="h3" style="display: inline-block;">Your Donation</div>
				<small>(Even you 1 gram will cure my sugar a little ://) 🥺 🙏</small>
			</div>
			

			<form>
			
				<form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control" name="name" id="name" placeholder="Name">
      <div class="invalid-tooltip" id="name_validator"></div>
    </div>
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control amount" name="amount" id="amount" placeholder="Rupees">
    	 <div class="invalid-tooltip" id="amount_validator"></div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">🍪</span>
        </div>
        <input type="text" class="form-control" id="sugar_value"  placeholder="Sugar(in grams )" disabled>
         <div class="invalid-tooltip" id="">
          
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" style="width: 100%" id="submitFormbtn" type="submit">Submit form</button>
</form>

			</form>

			<hr/>

			<div class="h2 apple_font pb-0 pt-4 ">
				Donations so far: {{donations.first.total_donation}} KGs
			</div>
			<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Sugar</th>
					      <th scope="col">Name</th>
					      <th scope="col">Date</th>
					      <th scope="col">Time</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for d in donations %}
						    <tr>
						      <th scope="row">{{d.index}}</th>
						      <td style="color: green">+{{d.sugar_in_grams}}</td>
						      <td>{{d.name}}</td>
						      <td>{{d.created_on.date}}</td>
						      <td>{{d.created_on.time}}</td>
						    </tr>
					    {% endfor %}
					  </tbody>
					</table>
				</div>
			</div>
</div>
		</div>
	</div>
</div>



</div>
{% endblock cont_ex %}
</div>


{% block js %}
<script type="text/javascript">

	var form_data = {};
  	window.CSRF_TOKEN = "{{ csrf_token }}";
  	console.log(window.CSRF_TOKEN);

	function update_sugar(e){
		amount = Number($("input[name=amount]").val()+String.fromCharCode(e.which));var sugar = (Math.ceil((amount/43)*1000));
			if (sugar > 9999){
				sugar = Math.ceil(sugar/1000);
				$("#sugar_value").val( sugar.toString() + " KGs" );
			}else{
				$("#sugar_value").val( sugar.toString() + " grams" );
			}
	}

	$(function(){
		$(".amount").on("keypress" , function(e){
			update_sugar(e);
		})

			$('input').on("keypress", function(e){
		        // console.log(e.currentTarget.name);
		        form_data["name"] 			= $("input[name=name]").val();
		        form_data["amount"] 		= $("input[name=amount]").val();
		    });

		   	$('#submitFormbtn').on("click", function(e){
		   		// DISABLING BUTTON
			   	$('#submitFormbtn').addClass('disabled');
		   		console.log("Form submit")
		   		e.preventDefault();
		   		console.log(form_data)

		   		form_data["name"] 			= $("input[name=name]").val();
		        form_data["amount"] 		= $("input[name=amount]").val();
		        form_data["csrfmiddlewaretoken"] = window.CSRF_TOKEN;
		   		// SENDING DATA

		   		$.ajax({ 
			        type: "post", 
			       	url: "/api/sugar-camp/donation",
			        enctype: "multipart/form-data",
			        data: form_data,
			        success: function(e) {
			        	console.log('SUCCESS');
			            console.log(e);
			            clear_form();

			            console.log(e.responseText);
			            clear_form();
			            alert("Thanks for your donation!")
			            window.location.reload();

			        },
			        error: function(e) {
			        	console.log('FAILED')
			            console.log(e.responseText);
			            obj = JSON.parse(e.responseText);

			            var fields = ['name', 'amount']
			            for(var i=0; i < fields.length; i++){

			            	key = fields[i];
			            	val = obj[fields[i]];

			            	if (fields[i] in obj){
			            		console.log('Found', fields[i]);
			            		$(`[name=${key}]`).addClass('is-invalid');
			            		$(`#${key}_validator`).text(obj[key]);
			            	}
			            	else{
			            		console.log("NOT Found", fields[i])
			            		$(`[name=${key}]`).removeClass('is-invalid');
			            		$(`[name=${key}]`).addClass('is-valid');
			            		$(`#${key}_validator`).text("Looks good !");
			            	}
			            }
			           	$('#submitFormbtn').removeClass('disabled');
			        } 
		        });


	})

	function clear_form(){
        $("#name").val("");
        $("#amount").val("");
        var fields = ['name', 'amount'];
        for(var i=0; i < fields.length; i++){
        	key = fields[i];
        	$(`[name=${key}]`).removeClass('is-invalid');
        	$(`[name=${key}]`).removeClass('is-valid');

        }

	}

   })
</script>

{% endblock %}

