<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!DOCTYPE html>
<html>
<head>
	<title>Who let the dork out</title>
</head>
<body>

<div class="p-5 container">
	<i>- by Sidin Vadukut</i> <span style="color: grey">taken from his book</span><br/><br/>
  <b class="h3">**18 November 2009**</b>
<br/><br/><br/>
  <i><b>*11.42 a.m. *</b></i>
<br/><br/>
  Usually, Diary, you know how I dislike talking about my anatomy to anybody else. It just makes me feel very uncomfortable. Very vulnerable. Sometimes when I see episodes of these Anerican TV shows I wonder … how do these people talk about their naked bodies like this to each other? Or even about their sex lives? <br/><br/>

  I am sure there is some exaggeration in these TV shows. But still. How are their cultures like this? I feel uncomfortable even if Gouri opens my underwear drawer.<br/><br/>

  Anyway. The reason I am saying this is so that you don’t feel awkward about what I am going to tell you now. <br/><br/>

  So I just went to the restroom fifteen minutes ago. Diary, it was undoubtedly the best visit to the toilet that I have ever made in my entire life. If there is a Guinness Book of Records entry for most satisfying trip to the toilet I swear I would immediately send an application.<br/><br/><br/>

  It was absolutely perfect. From beginning to end. Absolutely perfect. Like any Spielberg movie before and including Saving Private Ryan.<br/><br/>

  First of all when I went to the bathroom it had just been cleaned by the housekeeping fellow. He exited just as I entered. It was like walking into a botanical garden full of fresh flowers.<br/>
<br/>
  Secondly there was nobody else inside. Not one person. It was completely empty. And every single toilet cubicle was wide open. At a single glance I was able to confirm that I would have the bathroom entirely to myself.<br/><br/>

  You don’t need to go to the loo, Diary. (Which is usually a blessing. But not when the trip is as magical as mine today.) Therefore you will never understand the sheer delight in finding a virgin restroom just waiting for your exploitation.<br/><br/>

  So I chose a cubicle at random and entered. Despite the floral aromas all around me—hibiscus?—I was still somewhat apprehensive. There are so many things that can cause problems even inside a freshly cleaned toilet cubicle.<br/><br/>

  My fears were completely unnecessary.<br/><br/>

  The toilet paper roll was thick and fat and dry and soft and quite possibly new. The hand-held water gun hanging next to the commode was shiny, flexible and the trigger was perfectly spring-loaded. I tested it with a few quick shots into the bowl. The water was neither too hot. Nor too cold. And it shot forward at perfectly the right velocity. Last week at the gym I used the water pistol without checking first. It shot boiling hot water at 1000 kilometres per hour. I had tears in my eyes the whole evening, Diary.<br/><br/>

  No such issues here. The pistol worked perfectly.<br/><br/>

  Now only three things remained to be checked: the lever, the seat and last but not at all least, the bowl itself.<br/><br/>

  All three, Diary, were in pristine working condition. This was amazing. Normally this only happens in five-star hotels just when you’ve checked in. For a few moments I just stood there to enjoy the presentation.<br/><br/>

  Then I dropped my pants and sat down.<br/><br/>

  Diary, sometimes when I go home on vacation I am forced to go for some family function or the other. You know how much I hate this. Funeral or first holy communion or marriage or something like that. And sometimes I end up getting stuck with a group of retired schoolteachers or bank employees and all. Who then sit and bore the fuck out of me all through the reception. Once in a while these fuckers will start talking about their bowel movements. They will share tips on what to eat, how to eat, how to lie down, how to sit … everything except how to die quietly in their sleep instead of going for receptions and irritating people.<br/><br/>

  Many times I have listened to their toilet conversations and wanted to kill myself.<br/><br/>

  But, Diary. I think they have a point. Maybe you need to get a little older and a little mature to appreciate this. Today I realized how a satisfying trip to the toilet can be a truly life-changing experience.<br/><br/>

  So I sat down. And then, without a single moment’s delay … it just happened. And it happened in utter silence. Not that I had to be afraid. There was nobody else in the bathroom. I could have performed film songs loudly—I can and I have—and nobody would have noticed.<br/><br/>

  And then just like that I was done. This is not normal. Normally I always feel like waiting for another five or ten minutes. Because I somehow feel incomplete.<br/><br/>

  Not today. Today I knew immediately that my job was done. Mission accomplished. I flushed, washed up, got up and dressed up again. And the toilet looked exactly like how I had first encountered it.<br/><br/>

  What magic is this?<br/><br/>

  I was moved, Diary. Thoroughly moved. So I just put the lid of the commode down. Sat down on top of it. And decided to just relish the moment. Why can’t this happen more often, I thought to myself. In life why can’t you once in a while have a perfect day at work, a perfect day at home, a perfect day at the gym with Jesal, a perfect meeting in the office where nobody asks any questions… <br/>
<br/>
  Then I fell asleep. And woke up one hour later. When I came back Sugandh asked me where I had gone. I told him that I had gone to make a secret phone call to someone in MURPS.<br/><br/>

  But I actually wanted to tell him about the loo trip, Diary. I really did. Don’t judge me. It is a human tendency to want to share good experiences with other people. And I am sure if I was living in a more progressive country like Japan or the Netherlands I could have casually walked up to a colleague and talked to him about my bowel movements.<br/><br/>

  But alas we are a conservative country. And if you talk about all this they will think you are a sex criminal or something. Pity.<br/><br/>

  So I had no option but to share this with you. A secret between a man and his Diary.<br/><br/>

  I really hope I have days like this again.<br/><br/>

  Back to work now. I need to fill sixty extra spaces in my resume with extraordinary achievements. Easier to make them up rather than discuss the messy truth.<br/><br/>

  <b><i>*12.32 p.m.* </i></b><br/><br/>

  Tried going again. But there were two guys in the loo just standing there and chatting. Fuckers. So I washed my face and came back.   <br/><br/>

  
</div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>